/* @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Outfit&family=PT+Mono&display=swap");

body {
  margin: 0;
  font-family: 'Pixelify Sans', sans-serif !important;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* CHANGED: Main page background - pink to orange gradient */
  background-image: linear-gradient(to left, rgb(45 20 25), rgb(35 15 20));
}
